{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title">Fire Stations Map</h4>
    <ul class="breadcrumbs">
      <li class="nav-home">
        <a href="#">
          <i class="flaticon-home"></i>
        </a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="#">Maps</a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="#">Stations</a>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Fire Stations Overview</h4>
        </div>
        <div class="card-body">
          <div id="map" style="width: 100%; height: 600px"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
  // Initialize the map
  var map = L.map('map').setView([9.81644, 118.72239], 13);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  // Custom station icon
  var stationIcon = L.icon({
    iconUrl: "{% static 'img/station-icon.png' %}",
    iconSize: [32, 32],
    iconAnchor: [16, 32],
    popupAnchor: [0, -32]
  });

  var stations = JSON.parse('{{ fireStations|default:"[]"|escapejs|safe }}');
  var markers = [];

  stations.forEach(function(station) {
    if (station && station.latitude && station.longitude) {
      var marker = L.marker([station.latitude, station.longitude], { icon: stationIcon }).addTo(map);
      
      var popupContent = `
        <div class="station-popup">
          <h5>${station.name}</h5>
          <div class="status-indicator"></div>
          <p><strong>Status:</strong> ${station.status ? 'Active' : 'Inactive'}</p>
          <p><strong>Address:</strong> ${station.address}</p>
        </div>
      `;

      marker.bindPopup(popupContent);
      markers.push(marker);
    }
  });

  // Fit map to show all markers
  if (markers.length > 0) {
    var group = new L.featureGroup(markers);
    map.fitBounds(group.getBounds().pad(0.1));
  }
</script>

<style>
  .station-popup {
    min-width: 200px;
  }
  .station-popup h5 {
    margin-bottom: 10px;
    color: #1a2035;
  }
  .station-popup p {
    margin-bottom: 5px;
  }
  .status-indicator {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    background-image: url("{% static 'img/firetruck.png' %}");
    background-size: contain;
    background-repeat: no-repeat;
  }
</style>
{% endblock %}
